.create-blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-blog-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.create-blog-form {
    display: flex;
    flex-direction: column;
}

.create-blog-input,
.create-blog-textarea {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.create-blog-textarea {
    height: 200px;
    resize: vertical;
}
.generate-blog-button{
    padding: 10px;
    max-width: 200px;
    margin-bottom: 20px;
    font-size: 16px;
}

.create-blog-button {
    padding: 10px 20px;
    font-size: 1rem;
    background: black;
    /* opacity: 0.9; */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-blog-button:hover {
    opacity: 0.9;
     
}